In [6]:
# How index works in range() and slice opertions

for i in range(1,1):
    print(i) 
    
#will print nothing as we give stop (end) value as same as start. in range the stop value is exclusive, 
#start is inclusive

In [5]:
#Likewise in List slicing

ls = ['a','b','c','d']
ls[2:2]

[]

In [8]:
i = 15
print(i+=30) #will throw syntax error if we give this format in print, function parameter etc

SyntaxError: invalid syntax (<ipython-input-8-22a83c765269>, line 2)

In [9]:
#instead we have to use like this,
i = 15
i += 30
print(i) #Need to analyse, why it's not working

45

In [10]:
ls = ['Apple','Banana', 'Mango']
print(ls)

['Apple', 'Banana', 'Mango']

In [13]:
print(ls)
for ls[-1] in ls: #look at the ls[-1], the original list getting assigned (mentioned index) in every iteration
    print(ls)

['Apple', 'Banana', 'Banana']
['Apple', 'Banana', 'Apple']
['Apple', 'Banana', 'Banana']
['Apple', 'Banana', 'Banana']

In [1]:
~99

-100

In [2]:
~1

-2

In [5]:
~-3

2

In [10]:
x = 0b100
print(type(x))

<class 'int'>

round() is rounding to nearest even number also it's based on the Python version (2 or 3)

In [14]:
print(3^4)

7

In [16]:
4+3*(1+2)**2

31

## Important Points

#Question 86
print(0.1 + 0.2 == 0.3) #will print false

In [18]:
print(0.1 + 0.2 == 0.3) #there will be round off erros, hence there is differnce

False

complement operator (~)

        ~x is equal to -(x+1)

In [20]:
#Question 90
print(~~~~~~5)

5

In [23]:
x = 09856 #will throw error. refer oct, hex, bin

SyntaxError: invalid token (<ipython-input-23-d772783ccf32>, line 1)

In [26]:
#Question 93
float('54'+'26') #will print

5426.0

In [27]:
float('54+26') #will throw error

ValueError: could not convert string to float: '54+26'

#Exclusive OR (XOR)


'^' symbol

## bitwise operators: 
    bitwise AND (&)
    bitwise OR (|)
    bitwise XOR (^)
    bitwise NOT (!)

In [30]:
#Question 99
#exponent(**) has associativity as RIGHT TO LEFT all others has LEFT TO RIGHT associativity

#example
print(2**3**2) #here it is executing RIGHT TO LEFT

512

# round() function 

The behavior of the round() function is different in Python 2 and Python 3. In Python 2, it rounds off numbers away from 0 when the number to be rounded off is exactly halfway through. round(0.5) is 1 and round(-0.5) is -1 whereas in Python 3, it rounds off numbers towards nearest even number when the number to be rounded off is exactly halfway through

#COERCION


        1.7%2 (if both are different types, implicitly it will converts as 1.7 % 2.0)

In [33]:
1.7%2

1.7

### shift operator

    sri hari tips
    left shift means - multiply by 2
    right shift means - divide by 2

#### Binary no calculation

bin(29)

Sri Hari

How to calculate manually,

16   8   4   2   1  = 31

1    1   1   1   1   (we have to put 1 for each of above number)

1    1   1   0   1  = 29 (here we placed 0 in place of number 2)

In [34]:
int('1011', 23)

12191

In [35]:
int(1011)

1011

In [36]:
int(10.00)

10

In [37]:
int()

0

In [38]:
int('1011', 2)

11

In [40]:
int("1011", 2)

11

In [45]:
int(0b101)

5

In [46]:
int(0o101)

65

In [47]:
int('10',0)

10

## Numbers functions

bin()

hex()

oct()

*ALL THIS FUNCTIONS WILL BE GIVEN STRING TYPE OUTPUT

example below

In [77]:
bin(10)

'0b1010'

In [78]:
type(bin(10))

str

In [79]:
hex(10)

'0xa'

In [81]:
type(hex(10))

str

In [83]:
bin(10-2)+bin(12^4) #caculating each bin separately and appending the string outputs

'0b10000b1000'

In [48]:
repl()

NameError: name 'repl' is not defined

In [49]:
bin(0x35)

'0b110101'

In [50]:
bin(0x75)

'0b1110101'

In [51]:
0b110101| bin(0x75)

TypeError: unsupported operand type(s) for |: 'str' and 'str'

In [60]:
a = hex(0b01110101)

In [76]:
int(0b01110101)

117

In [63]:
int(0x75)

117

In [72]:
a = 100
b = 50

In [73]:
if a<b:
    m = a
else:
    m = b
    
print(m)

50

In [74]:
m = a if a<b else b
print(m)

50

In [75]:
m = min(a,b)
print(m)

50

In [1]:
#complex function

complex(12,3)

(12+3j)

#Question 126

1's compliment

2's compliment

The one’s complement of a value is obtained by simply changing all the 1’s to 0’s and all the 0’s to 1’s. Hence the one’s complement of 110010101 is 001101010.

: In most cases the value of two’s complement is different from the original value. However, there are cases in which the two’s complement value may be equal to the original value. For example, the two’s complement of 10000000 is also equal to 10000000

Any odd number on being AND-ed with 1 always gives 1. Any even number on being AND-ed with this value always gives 0.

In [94]:
bool(0)

False

In [91]:
bool(1)

True

In [92]:
bool('')

False

In [93]:
bool()

False

In [95]:
bool(True)

True

In [96]:
bool(False)

False

In [100]:
['Apple','Banana', 'Mango'][1]

'Banana'

In [101]:
['Apple','Banana', 'Mango'][0]

'Apple'

In [99]:
['Apple','Banana', 'Mango'][True] #it considers True as 1

'Banana'

In [98]:
['Apple','Banana', 'Mango'][False] #it considers False as 0

'Apple'

The filter() function returns an iterator were the items are filtered through a function to test if the item is accepted or not.

In [13]:
list1 = [1,0,2,0,'alex','',[]]
list(filter(bool, list1)) #filter will return iterator object, which we are converting to list
#it will apply bool function (any given function) to the given list

[1, 2, 'alex']

In [50]:
#Doubt
x = 'hi'
print('05%s%%'%x) #This output is wrong in jupyter and it's correct in pycharm

05hi%

In [56]:
x = 'alex-prabu'
print('%56s'%x) #will print 56 spaces, s = space

                                              alex-prabu

In [69]:
print("%06d"%x)

000456

In [88]:
x = 456
print("%-06d"%x)

456

In [113]:
print("%-60d"%x)
#space will be created after the value. double click or select output value to see

456                                                         0

In [70]:
print("%060d"%x)

000000000000000000000000000000000000000000000000000000000456

In [72]:
print("%000060d"%x)

000000000000000000000000000000000000000000000000000000000456

In [116]:
print("%f"%x) #if any number is not given by default six zeros will come after decimal

456.000000

In [128]:
x = 22.19
print("%.5f"%x)

22.19000

In [129]:
print("-5%d0",989)

-5%d0 989

In [131]:
print('%d %s %g you'%(1, 'Alex', 4.0))

1 Alex 4 you

https://www.geeksforgeeks.org/how-to-use-string-formatters-in-python/

In [132]:
x = ['ab','cd']
for i in x:
    x.append(i.upper())
print(x)

MemoryError:

In [133]:
d = {0:'a',1:'b'}
for x in d.values():
    print(d[x])

KeyError: 'a'

In [134]:
d = {}
type(d)

dict

In [149]:
s = set([1,2,5])
type(s)

set

In [152]:
print(s.add(8)) #this will print None but will add 8 to the set. add method returns None
print(s)

None
{8, 1, 2, 5}

In [147]:
s = [1,2,3,4,5]
s.pop()

5

In [154]:
# range(0) is empty
for i in range(0):
    print(i)

In [157]:
#also we cannot give float value in range()
for i in range(2.0):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [163]:
for i in float('inf'): #inf is also has type as float
    print(i)

TypeError: 'float' object is not iterable

In [165]:
for i in int(float('inf')):  #cannot convert float infinity to integer
    print(i)

OverflowError: cannot convert float infinity to integer

a[::-1] reverses the list

Also "reversed()" function will give reversed items of given sequence (list, tuple, strings). set and dict objects are not reversible

In [170]:
t = (1,2,3)

r1 = reversed(t)
print(r1) #will return reversed object
print(tuple(r1))

<reversed object at 0x00000265FB092B48>
(3, 2, 1)

In [171]:
l = (1,2,3)

r1 = reversed(l)
print(r1) #will return reversed object
print(list(r1))

<reversed object at 0x00000265FB092588>
[3, 2, 1]

In [183]:
st = 'debbie'

r1 = reversed(st)
print(r1) #will return reversed object
print("".join(r1))

<reversed object at 0x00000265FB09B2C8>
eibbed

In [174]:
s = {1,2,3}

r1 = reversed(s)
print(r1) 
print(set(r1))

TypeError: 'set' object is not reversible

In [175]:
d = {1:'a',2:'b',3:'c'}

r1 = reversed(d)
print(r1) 
print(set(r1))

TypeError: 'dict' object is not reversible

In [1]:
import string
print(string.ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [2]:
print(string.ascii_lowercase)

abcdefghijklmnopqrstuvwxyz

In [3]:
print(string.ascii_uppercase)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [9]:
print(string.digits)

0123456789

In [10]:
print(string.hexdigits)

0123456789abcdefABCDEF

In [11]:
print(string.octdigits)

01234567

In [29]:
print(string)

<function capwords at 0x000002087151FA68>

In [23]:
str1 = 'hello'
print(str1[-1:])
print(str1[4:])
print(str1[-4:2])
print(str1[-4:-1])
print(str1[1:5])
print(str1[5:1])

o
o
e
ell
ello

In [24]:
print (r"\nhello")

\nhello

In [27]:
print('new'  'line') #String literal separated by whitespace are allowed. They are concatenated.

newline

In [32]:
print('x\97\x98')

x\97

In [50]:
print('test','\x98','test')

test  test

In [53]:
print('test','\x40','test')

test @ test

In [47]:
print('\x5e')

^

In [48]:
print('\x7e')

~

In [86]:
print('\x101')

1

In [59]:
str1="helloworld"
print(str1[0:5])
str1[::-1] #This will reverse the string

hello

'dlrowolleh'

In [61]:
print(0xA + 0xB + 0xC)
print(0xA, 0xB, 0xC)

33
10 11 12

In [73]:
print("Hello {0!r} and {0!s}".format('foo', 'bin'))

Hello 'foo' and foo

 Both str and repr functions are very similar. We can get the object rep-resentation in String format as well as other specific formats such as tuple and dictionary to get information about the object. • !r - converts the value to a string using repr(). but it displays the content of string in the quotes • !s - converts the value to a string using str(). but it displays the content of string without the quotes.

In [95]:
'{:,}'.format(222444555555)

'222,444,555,555'

In [134]:
a = 'ABC'
b = 'XYZ'
c =a.__add__(b)
print(c)
# __add__ is another method that can be used for concatenation.

ABCXYZ

In [97]:
print(chr(ord('A')))

A

In [98]:
ord('A')

65

In [107]:
chr(65)

'A'

In [114]:
print(ord('A'))
print(chr(65))

for i in range (65,91):
#     print(i, chr(i), end = '\n')
    print(chr(i), end = ' ')

65
A
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [113]:
print(chr(ord('b')+1))

c

In [120]:
s = '\t\tWorld\n'
print(s)
print(s.strip())

		World

World

In [135]:
print("D", end = ' ')
print("C", end = ' ')
print("B", end = ' ')
print("A", end = ' ')

D C B A

In [122]:
s = 'hello'
s.__getitem__(3)
# __getitem__(..) can be used to get character at index specified as parameter.

'l'

In [123]:
print('https://www.datascienceintamil.com/'.lstrip('htps:/w.').rstrip('/'))

datascienceintamil.com

In [133]:
print('https://he/llo'.lstrip('htps:/elo'))

In [124]:
print('xyyzxxyxyy'.lstrip('xyy'))

zxxyxyy

In [125]:
print('xyyzxxyxyy'.lstrip('xyy'))
print('123456789'.lstrip('123'))
print('123456789'.rstrip('789'))

zxxyxyy
456789
123456

In [126]:
print('xyxxyyzxxy'.lstrip('xyy'))
print('123456789'.lstrip('124'))
print('123456789'.lstrip('104'))
print('123456789'.lstrip('103'))

zxxy
3456789
23456789
23456789

In [128]:
print('''\tfoo'''.lstrip())

foo

In [131]:
print("   Hello".lstrip())
print("\t Hello".lstrip())
print('''\t Hello'''.lstrip())

Hello
Hello
Hello

<b>lstrip and rstrip and works the way like,</b>

If it's travel from left to right (for lstrip) it will remove the chars from our given combination, if in case a new character out of this combination is encountered, then it will stop and output the remaining string starting from that charcter.
same for rstrip except it will travel from right to left.