In [ ]:
print("AA\tBB\nCC\x7EDD")
print("\x7E")

In [ ]:
'a' + 'x' if '123'.isdigit() else 'y' + 'b'

In [ ]:
print('Shopping List')
print("item1:","Rice")
print("item2:","Sugar")

In [ ]:
print('{0:>25}'.format('Shopping List'))
print('{0:<25}'.format('Shopping List'))

In [ ]:
print('{0:^25}'.format('Shopping List'))
print('{0:8}|{1:>8}'.format("item1","Rice"))
print('{0:8}|{1:>8}'.format("item2","Sugar"))

In [ ]:
f = open('test_file.txt', 'w')
f.write("Hello, World!")
f.close()

In [ ]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

In [ ]:
f = open('test_file.txt', 'a')
f.write("Hello, World!")
f.close()

In [ ]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

In [ ]:
f = open('test_file.txt', 'a+')
f.write("How are you?")
f.close()

In [ ]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

In [ ]:
f = open('test_file.txt', 'r+')
f.write("Hello, World!")
f.close()

In [ ]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

In [ ]:
f = open('test_file.txt', 'w+')
f.write("Hello, World!")
f.close()

In [ ]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

In [ ]:
f = open('test_file.txt', 'x')
f.write("Hello, World!")
f.close()

In [ ]:
f = open('test_file.txt', 'w')
f.write("sample line1 \n sample line2 \n sample line3")
f.close()

In [ ]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

In [ ]:
f = open('test_file.txt', 'r')
ls = f.readlines()
print(ls)
print('-'*100)
for line in ls:
    print(line)
f.close()

In [ ]:
f = open('test_file.txt', 'r')
print(f.read())

In [ ]:
print(f.read())

In [ ]:
f.seek(0)

In [ ]:
print(f.read())

In [ ]:
f.seek(5)

In [ ]:
print(f.read())

In [ ]:
f.tell()

In [ ]:
f.seek(0)

In [ ]:
f.tell()

In [ ]:
with open('test_file.txt', 'r') as f:
    print(f.read())

In [ ]:
f = open('test_file.txt', 'w')
print(f.mode)
f.close()

In [ ]:
f = open('test_file.csv', 'w')
f.write("a,b,c,d,e,f")
f.close()

In [ ]:
import csv

In [ ]:
f = open('test_file.csv', 'r')
dataFromCSV = csv.reader(f)

In [ ]:
for row in dataFromCSV:
    print(row)

In [ ]:
import csv
with open('test_file.csv') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in spamreader:
        print(', '.join(row))

In [ ]:
!python test_command_line.py 3 5

In [ ]:
ls = []
for i in range(10):
    ls.append(i)

In [ ]:
print(ls)

In [ ]:
ls[0:10:2]

In [ ]:
ls[5:]

In [ ]:
from math import sqrt as squareRoot

In [ ]:
import os
def get_first_line(filename, mode):
    if os.path.isfile(filename):
        with open(filename, mode) as file:
            return file.readlines()
    else:
        return None

In [ ]:
get_first_line('test_file.txt', 'r')

In [ ]:
x = 50
def fun1():
    x = 25
    print(x)
    
fun1()
print(x)

In [ ]:
x = 75
def myfunc():
    x = x + 1
    print(x)

myfunc()
print(x)

In [ ]:
ls = ['Apple','Banana', 'Mango']
print(ls)

In [ ]:
for item in ls:
    print(item)
#     print(ls)

In [ ]:
print(ls)
for ls[2] in ls:
    print(ls)

In [ ]:
for i in range(0,10,5):
    print(i)

In [ ]:

def get_rating(age):
    rating = ""
    if age == None:
        rating = 'C'
    elif age < 13:
        rating = 'C'
    elif age < 18:
        rating = 'T'
    else:
        rating = 'A'
    return rating

In [ ]:
get_rating(13)

In [ ]:
i = 15
i+=15
get_rating(i+=15)

In [ ]:
help("keywords")

In [ ]:
print(2%2)

In [ ]:
p = 2
while p<=100:
    is_prime = True
    print(p)
    for i in range(2, p):
        print(i, p)
        if p%i == 0:
            is_prime = False
            break
    if is_prime == True:
        print("print: ",p)
    p += 1

In [ ]:
for i in range(2,3, 1):
    print(i)

In [ ]:
ls = ['a','b','c']
ls[1:1]

In [ ]:
ls = [0,1,2,3]
print(ls[3])
for ls[3] in ls:
#     print("i: ", i)
    print("List: ", ls[3])

In [ ]:
name = input("Please enter your name: ") #This case will fail if we give only numbers and symbols

if name.upper() == name:
    print('UPPER')
elif name.lower() == name:
    print('lower')
else:
    print('MiXEd')

In [3]:
totalitems = float(input("test"))

test3.99

In [12]:
rooms = {1:"Foyer", 2:"Conference Room"}
room = int(input("enter the room number: "))
if not room in rooms:
    print("NA")
else:
    print(rooms[room])

enter the room number: 1
Foyer

In [16]:
x1 = "20"
y1 = 3
a = x1 * y1

print(type(a))

<class 'str'>

In [15]:
a = 2.4
b = 1
c = a/b
print(type(c))

<class 'float'>

In [19]:
print(int(+1E10))

10000000000

In [30]:
ls = [(5,8888),(2,3),(1,199)]
ls.sort()
print(ls)

sorted_ls = sorted(ls,key=lambda x:x[1])
print(sorted_ls)

[(1, 199), (2, 3), (5, 8888)]
[(2, 3), (1, 199), (5, 8888)]

In [110]:
ls = ['N','i','r','a','l']
print(str(ls))
st = "".join(ls)
print(st)

['N', 'i', 'r', 'a', 'l']
Niral

In [32]:
a = 10
assert a<11
print("this executes ")

this executes

In [36]:
a='3\''

In [37]:
a

"3'"

In [38]:
ls1 = [1,2,3,4,5]
ls2 = ['N','i','r','a','l']

In [39]:
print(ls1 is ls2)
print(ls1 == ls2)

False
False

In [40]:
ls1 = ls2

In [41]:
print(ls1 is ls2)
print(ls1 == ls2)

True
True

In [43]:
expr = input("enter the val: ")
x = int(input("enter x: "))
y = eval(expr)
print(y)

enter the val: x**2
enter x: 5
25

In [44]:
complex(2,3)

(2+3j)

In [45]:
~4

-5

In [46]:
2**3**4

2417851639229258349412352

In [47]:
2**81

2417851639229258349412352

In [48]:
2%2

0

In [50]:
float(4+int(2.34))

6.0

In [51]:
int(2+float(555))

557

In [52]:
bin(10-2)

'0b1000'

In [53]:
bin(12^4)

'0b1000'

In [54]:
0b1000 + 0b1000

16

In [55]:
bin(16)

'0b10000'

In [56]:
bin(10-2)+bin(12^4)

'0b10000b1000'

In [58]:
bin(-44)

'-0b101100'

In [3]:
myList = [1,2,3,4,5]
output =  [x**2 for x in myList]
print(output)

[1, 4, 9, 16, 25]

In [4]:
i = 1
while True:
    if i%0o7 == 0: # 0o7 Octal number
        break
    print(i)
    i += 1

1
2
3
4
5
6

In [12]:
i = 5
while True:
    print("i before: ", i)
    print(int(0o11))
    print(i%0o11)
    if i%0o11 == 0:
        print("inside break")
        break
    print(i)
    i += 1

i before:  5
9
5
5
i before:  6
9
6
6
i before:  7
9
7
7
i before:  8
9
8
8
i before:  9
9
0
inside break

In [20]:
ls = [1, 4, 9, 16, 25]
ls = ls[:-1]
print(ls)

[1, 4, 9, 16]

In [24]:
expr = [5, '4+3', '3', '2+2', '2**3', '12/6', 1, '9-4']
print(type(expr))
# print(expr.sort())
newList = []
for i in expr:
   newList.append(eval(str(i)))
print(type(ls))
print(ls.sort())

<class 'list'>
<class 'list'>
None

In [43]:
expr = [5, '4+3', '3', '2+2', '2**3', '12/6', 1, '9-4']
ls = []
for item in expr:
    ls.append(eval(str(item)))

<class 'list'>
None

In [38]:
ls.sort()

In [51]:
a=[1,2,3,4,5]
b = a[::-1]
print(b)

[5, 4, 3, 2, 1]

In [1]:
class test:
    def testmethod(self):
        print("Hello")
        
obj = test()
obj.testmethod()

Hello

In [1]:
d = dict()

In [2]:
d['abc'] = 123
d['xyz'] = 456

In [3]:
print(d)
print(d.keys())
print(d.values())

{'abc': 123, 'xyz': 456}
dict_keys(['abc', 'xyz'])
dict_values([123, 456])

In [7]:
for i in d:
    print(i, d[i])
    print("%s : %d"%(i, d[i]))

abc 123
abc : 123
xyz 456
xyz : 456

In [8]:
for index, key in enumerate(d):
    print(index, key, d[key])

0 abc 123
1 xyz 456

In [10]:
print("xyz" in d)

True

In [11]:
del d["xyz"]

In [12]:
print("xyz" in d)

False

In [13]:
print(d)

{'abc': 123}

#### break, continue, pass in Python 

   <b>break:</b> takes you out of the current loop.
   
   <b>continue:</b>  ends the current iteration in the loop and moves to the next iteration.
   
   <b>pass:</b> The pass statement does nothing. It can be used when a statement is required. syntactically but the program requires no action.

#### map, filter, lambda


   <b>map:</b> The map() function applies a function to every member of iterable and returns the result. If there are multiple arguments, map() returns a list consisting of tuples containing the corresponding items from all iterables.
   
   <b>filter:</b>  It takes a function returning True or False and applies it to a sequence, returning a list of only those members of the sequence for which the function returned True.
   
   <b>lambda:</b> Python provides the ability to create a simple (no statements allowed internally) <b>anonymous (without name) inline function</b> called lambda function. Using lambda and map you can have two for loops in one line.

In [15]:
def sqr(n):
    return n**2

numbers = (1,2,3,4,5)
m = map(sqr, numbers)
print(list(m))

[1, 4, 9, 16, 25]

In [16]:
numbers = (1,2,3,4,5)
m = map(lambda x: x+x, numbers)
print(list(m))

[2, 4, 6, 8, 10]

In [19]:
numbers1 = [1,2,3,4,5]
numbers2 = [6,7,8,9,10]
m = map(lambda x,y: x+y, numbers1, numbers2)
print(list(m))

[7, 9, 11, 13, 15]

In [23]:
ls = ['Alex','Niral','Sugi']
print(list(map(list,ls))) #note here we used list built-in function

[['A', 'l', 'e', 'x'], ['N', 'i', 'r', 'a', 'l'], ['S', 'u', 'g', 'i']]

#### reduce


The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

     Working :  

        At first step, first two elements of sequence are picked and the result is obtained.
        
        Next step is to apply the same function to the previously attained result and the number just 
        succeeding the second element and the result is again stored.
        
        This process continues till no more elements are left in the container.
        
        The final returned result is returned and printed on console.

​

Docstring:
reduce(function, sequence[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence,
from left to right, so as to reduce the sequence to a single value.
For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the sequence in the calculation, and serves as a default when the
sequence is empty.

In [25]:
import functools
from functools import reduce

In [28]:
lis = [1,2,3,4,5]

# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")

print(reduce(lambda x,y: x+y, lis))

The sum of the list elements is : 15

In [29]:
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")

print(reduce(lambda x,y: x if x>y else y, lis))

The maximum element of the list is : 5

In [31]:
# importing operator for operator functions
import operator
 
# initializing list
lis = [1, 3, 5, 6, 2, ]
 
# using reduce to compute sum of list
# using operator functions
print("The sum of the list elements is : ", end="")
print(functools.reduce(operator.add, lis))
 
# using reduce to compute product
# using operator functions
print("The product of list elements is : ", end="")
print(functools.reduce(operator.mul, lis))
 
# using reduce to concatenate string
print("The concatenated product is : ", end="")
print(functools.reduce(operator.add, ["first", "middle", "last"]))

The sum of the list elements is : 17
The product of list elements is : 180
The concatenated product is : firstmiddlelast

In [35]:
# Note that the initializer, when not None, is used as the first value instead of the first value from iterable , and after the whole iterable.
tup = (2,1,0,2,2,0,0,2)
print(reduce(lambda x, y: x+y, tup,6))

15

#### filter()
The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

        syntax:

        filter(function, sequence)
        Parameters:
        function: function that tests if each element of a 
        sequence true or not.
        sequence: sequence which needs to be filtered, it can 
        be sets, lists, tuples, or containers of any iterators.
        Returns:
        returns an iterator that is already filtered.

In [59]:
def fun(letter):
    vowels = ['a','e','i','o','u']
    if letter.lower() in vowels:
        return True
    else:
        return False
    
sequence = list('Niralya Alex')
print(sequence)
filtered = filter(fun, sequence)


print('The filtered vowels are:')
for s in filtered:
    print(s)

['N', 'i', 'r', 'a', 'l', 'y', 'a', ' ', 'A', 'l', 'e', 'x']
The filtered vowels are:
i
a
a
A
e

In [70]:
seq = [0, 1, 2, 3, 5, 8, 13]

odd = filter(lambda x: x%2 != 0, seq)
even = filter(lambda x: x%2 == 0, seq) 

# odd = filter(lambda x: x%2, seq)
# even = filter(lambda x: ~x%2, seq) # ~ bitwise NOT operator

print(list(odd))
print(list(even))

[1, 3, 5, 13]
[0, 2, 8]

#### Lambda Functions

Python Lambda Functions are anonymous function means that the function is without a name. As we already know that the def keyword is used to define a normal function in Python. Similarly, the lambda keyword is used to define an anonymous function in Python. 


    This function can have any number of arguments but only one expression, which is evaluated and returned.
    
    One is free to use lambda functions wherever function objects are required.
    
    You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.
    
    It has various uses in particular fields of programming besides other types of expressions in functions.

In [73]:
x = 'Stay focused..!'

(lambda x:print(x))(x)

Stay focused..!

In [74]:
def cube(x):
    return x*x*x

print(cube(3))

27

In [79]:
lambda_cube  = lambda x:x*x*x
print(lambda_cube (3))

27

In [98]:
#printing table of 10 using lambda and list comprehension. closely watch i and j variables
functions = [lambda j=i:j*10 for i in range(1,11)]
print(functions)

for fun in functions:
    print(fun())

[<function <listcomp>.<lambda> at 0x0000021128712C18>, <function <listcomp>.<lambda> at 0x0000021128712B88>, <function <listcomp>.<lambda> at 0x0000021128712AF8>, <function <listcomp>.<lambda> at 0x0000021128712A68>, <function <listcomp>.<lambda> at 0x00000211287129D8>, <function <listcomp>.<lambda> at 0x0000021128712948>, <function <listcomp>.<lambda> at 0x00000211287128B8>, <function <listcomp>.<lambda> at 0x0000021128712828>, <function <listcomp>.<lambda> at 0x0000021128712798>, <function <listcomp>.<lambda> at 0x0000021128712708>]
10
20
30
40
50
60
70
80
90
100

In [99]:
maxx = lambda x,y: x if x>y else y
print(maxx(2,4))

4

In [109]:
#Given a list of strings, filter all palindromes.

my_list = ["madam", "hello", "refer", "practice", "aa","noon"]

list1 = filter(lambda x: (x == "".join(reversed(x))), my_list)
print(list(list1))

list2 = filter(lambda x:(x == x[::-1]), my_list)
print(list(list2))

['madam', 'refer', 'aa', 'noon']
['madam', 'refer', 'aa', 'noon']

#### zip()
Python zip() method takes iterable or containers and returns a single iterator object, having mapped values from all the containers. 

It is used to map the similar index of multiple containers so that they can be used just using a single entity. 

Syntax :  zip(*iterators) 

Parameters : Python iterables or containers ( list, string etc ) 
Return Value : Returns a single iterator object, having mapped values from all the 
containers.

In [124]:

name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]

mapped = zip(name, roll_no)
print(list(mapped))

[('Manjeet', 4), ('Nikhil', 1), ('Shambhavi', 3), ('Astha', 2)]

In [125]:

names = ['Mukesh', 'Roni', 'Chari']
ages = [24, 50, 18]

for i, (name, age) in enumerate(zip(names, ages)):
    print(i, name, age)

0 Mukesh 24
1 Roni 50
2 Chari 18

In [126]:

stocks = ['reliance', 'infosys', 'tcs']
prices = [2175, 1127, 2750]

new_dict = {stocks:prices for stocks, prices in zip(stocks, prices)}
print(new_dict)

{'reliance': 2175, 'infosys': 1127, 'tcs': 2750}

#### How to unzip?
Unzipping means converting the zipped values back to the individual self as they were. This is done with the help of “*” operator.

In [128]:
name = ["Manjeet", "Nikhil", "Shambhavi", "Astha"]
roll_no = [4, 1, 3, 2]
marks = [40, 50, 60, 70]

mapped = zip(name, roll_no, marks)
mapped = list(mapped)

print(mapped)

#unzip
n, r, m = zip(*mapped)
print(n)
print(r)
print(m)

[('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60), ('Astha', 2, 70)]
('Manjeet', 'Nikhil', 'Shambhavi', 'Astha')
(4, 1, 3, 2)
(40, 50, 60, 70)

#### Enumerate()
Often, when dealing with iterators, we also get a need to keep a count of iterations. Python eases the programmers’ task by providing a built-in function enumerate() for this task. 
Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() method.


        Syntax: 

            enumerate(iterable, start=0)

            Parameters:
            Iterable: any object that supports iteration
            Start: the index value from which the counter is 
                          to be started, by default it is 0

In [115]:
l1 = ["eat","sleep","repeat"]
s1 = "geek"

obj1 = enumerate(l1)
obj2 = enumerate(s1, 10)

print(type(obj1))

print(list(obj1))
print(list(obj2))

<class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(10, 'g'), (11, 'e'), (12, 'e'), (13, 'k')]

In [119]:
lst = ["eat","sleep","repeat"]
for ele in enumerate(lst):
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')

In [120]:
for i, ele in enumerate(lst):
    print(i, ele)

0 eat
1 sleep
2 repeat

In [122]:
for i, ele in enumerate(lst, 100):
    print(i, ele)

100 eat
101 sleep
102 repeat