#### 1 PYTHON INTERVIEW QUIZ QUESTIONS - 1250 questions (Melcose sir's word doc, refer: google drive)

### Questions Covered:


    1. 
    2.
    3.
    4.
    5. Q 839 - Q (50 Questions)

In [1]:
print("AA\tBB\nCC\x7EDD")
print("\x7E")

AA	BB
CC~DD
~

In [2]:
'a' + 'x' if '123'.isdigit() else 'y' + 'b'

'ax'

In [3]:
print('Shopping List')
print("item1:","Rice")
print("item2:","Sugar")

Shopping List
item1: Rice
item2: Sugar

In [4]:
print('{0:>25}'.format('Shopping List'))
print('{0:<25}'.format('Shopping List'))

            Shopping List
Shopping List

In [5]:
print('{0:^25}'.format('Shopping List'))
print('{0:8}|{1:>8}'.format("item1","Rice"))
print('{0:8}|{1:>8}'.format("item2","Sugar"))

      Shopping List
item1   |    Rice
item2   |   Sugar

In [6]:
f = open('test_file.txt', 'w')
f.write("Hello, World!")
f.close()

In [7]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

Hello, World!

In [8]:
f = open('test_file.txt', 'a')
f.write("Hello, World!")
f.close()

In [9]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

Hello, World!Hello, World!

In [10]:
f = open('test_file.txt', 'a+')
f.write("How are you?")
f.close()

In [11]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

Hello, World!Hello, World!How are you?

In [12]:
f = open('test_file.txt', 'r+')
f.write("Hello, World!")
f.close()

In [13]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

Hello, World!Hello, World!How are you?

In [14]:
f = open('test_file.txt', 'w+')
f.write("Hello, World!")
f.close()

In [15]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

Hello, World!

In [16]:
f = open('test_file.txt', 'x')
f.write("Hello, World!")
f.close()

FileExistsError: [Errno 17] File exists: 'test_file.txt'

In [17]:
f = open('test_file.txt', 'w')
f.write("sample line1 \n sample line2 \n sample line3")
f.close()

In [18]:
f = open('test_file.txt', 'r')
print(f.read())
f.close()

sample line1
 sample line2
 sample line3

In [19]:
f = open('test_file.txt', 'r')
ls = f.readlines()
print(ls)
print('-'*100)
for line in ls:
    print(line)
f.close()

['sample line1 \n', ' sample line2 \n', ' sample line3']
----------------------------------------------------------------------------------------------------
sample line1

 sample line2

 sample line3

In [20]:
f = open('test_file.txt', 'r')
print(f.read())

sample line1
 sample line2
 sample line3

In [21]:
print(f.read())

In [22]:
f.seek(0)

0

In [23]:
print(f.read())

sample line1
 sample line2
 sample line3

In [24]:
f.seek(5)

5

In [25]:
print(f.read())

e line1
 sample line2
 sample line3

In [26]:
f.tell()

44

In [27]:
f.seek(0)

0

In [28]:
f.tell()

0

In [29]:
with open('test_file.txt', 'r') as f:
    print(f.read())

sample line1
 sample line2
 sample line3

In [30]:
f = open('test_file.txt', 'w')
print(f.mode)
f.close()

w

In [31]:
f = open('test_file.csv', 'w')
f.write("a,b,c,d,e,f")
f.close()

In [32]:
import csv

In [33]:
f = open('test_file.csv', 'r')
dataFromCSV = csv.reader(f)

In [34]:
for row in dataFromCSV:
    print(row)

['a', 'b', 'c', 'd', 'e', 'f']

In [35]:
import csv
with open('test_file.csv') as csvfile:
    spamreader = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in spamreader:
        print(', '.join(row))

a,b,c,d,e,f

In [36]:
# import sys

# a = sys.argv[1]
# b = sys.argv[2]
# print(a+b)
# c = int(a) + int(b)
# print(c)
# print(sys.argv[0])

#the below file contains above code


!python test_command_line.py 3 5

35
8
test_command_line.py

In [37]:
# import sys

# print(sys.argv[0])
# print(sys.argv)
# print(len(sys.argv))


!python tespy.py 1 2 3

tespy.py
['tespy.py', '1', '2', '3']
4

In [38]:
ls = []
for i in range(10):
    ls.append(i)

In [39]:
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:

ls[0:10:2]

[0, 2, 4, 6, 8]

In [41]:
import random
random.seed(3)
random.randint(1,5)

2

In [42]:
random.seed(3)
random.randint(1,5)

2

In [43]:
ls[5:]

[5, 6, 7, 8, 9]

In [44]:
from math import sqrt as squareRoot

In [64]:
import os
def get_first_line(filename, mode):
    if os.path.isfile(filename):
        with open(filename, mode) as file:
            return file.readline()
    else:
        return None

In [68]:
ret = get_first_line('sdfdsfsin.txt', 'r')
print(ret)
ret = get_first_line('in.txt', 'r')
print(ret)

None
kk

In [47]:
x = 50
def fun1():
    x = 25
    print(x)
    
fun1()
print(x)

25
50

In [48]:
x = 75
def myfunc():
    x = x + 1
    print(x)

myfunc()
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [49]:
ls = ['Apple','Banana', 'Mango']
print(ls)

['Apple', 'Banana', 'Mango']

In [50]:
for item in ls:
    print(item)
#     print(ls)

Apple
Banana
Mango

In [51]:
print(ls)
for ls[2] in ls:
    print(ls)

['Apple', 'Banana', 'Mango']
['Apple', 'Banana', 'Apple']
['Apple', 'Banana', 'Banana']
['Apple', 'Banana', 'Banana']

In [52]:
for i in range(0,10,5):
    print(i)

0
5

In [53]:

def get_rating(age):
    rating = ""
    if age == None:
        rating = 'C'
    elif age < 13:
        rating = 'C'
    elif age < 18:
        rating = 'T'
    else:
        rating = 'A'
    return rating

In [54]:
get_rating(13)

'T'

In [56]:
i = 15
i+=15
get_rating(i+=15) #will throw error important

SyntaxError: invalid syntax (<ipython-input-56-a3be01e89ea7>, line 3)

In [57]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [58]:
print(2%2)

0

In [97]:
p = 2
while p<=100:
    is_prime = True
    for i in range(2, p):
        if p%i == 0:
            is_prime = False
            break
    if is_prime == True:
        print(p)
    p += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [60]:
for i in range(2,3, 1):
    print(i)

2

In [61]:
ls = ['a','b','c']
ls[1:1]

[]

In [62]:
ls = [0,1,2,3]
print(ls[3])
for ls[3] in ls:
#     print("i: ", i)
    print("List: ", ls[3])

3
List:  0
List:  1
List:  2
List:  2

In [2]:
name = input("Please enter your name: ") #This case will fail if we give only numbers and symbols

if name.upper() == name:
    print('UPPER')
elif name.lower() == name:
    print('lower')
else:
    print('MiXEd')

Please enter your name: alex
lower

In [3]:
totalitems = float(input("test"))

test2

In [4]:
rooms = {1:"Foyer", 2:"Conference Room"}
room = int(input("enter the room number: "))
if not room in rooms:
    print("NA")
else:
    print(rooms[room])

enter the room number: 1
Foyer

In [5]:
x1 = "20"
y1 = 3
a = x1 * y1

print(type(a))

<class 'str'>

In [6]:
a = 2.4
b = 1
c = a/b
print(type(c))

<class 'float'>

In [7]:
print(int(+1E10))

10000000000

In [8]:
a = +1E10
print(type(a))

<class 'float'>

In [9]:
ls = [(5,8888),(2,3),(1,199)]
ls.sort()
print(ls)

sorted_ls = sorted(ls,key=lambda x:x[1])
print(sorted_ls)

[(1, 199), (2, 3), (5, 8888)]
[(2, 3), (1, 199), (5, 8888)]

In [10]:
ls = ['N','i','r','a','l']
print(str(ls))
st = "".join(ls)
print(st)

['N', 'i', 'r', 'a', 'l']
Niral

In [11]:
a = 10
assert a<11
print("this executes ")

this executes

In [12]:
a='3\''

In [13]:
a

"3'"

In [14]:
ls1 = [1,2,3,4,5]
ls2 = ['N','i','r','a','l']

In [15]:
print(ls1 is ls2)
print(ls1 == ls2)

False
False

In [16]:
ls1 = ls2

In [17]:
print(ls1 is ls2)
print(ls1 == ls2)

True
True

In [18]:
expr = input("enter the val: ")
x = int(input("enter x: "))
y = eval(expr)
print(y)

enter the val: 1
enter x: 2
1

In [19]:
complex(2,3)

(2+3j)

In [20]:
~4

-5

In [21]:
2**3**4

2417851639229258349412352

In [22]:
2**81

2417851639229258349412352

In [23]:
2%2

0

In [24]:
float(4+int(2.34))

6.0

In [25]:
int(2+float(555))

557

In [26]:
bin(10-2)

'0b1000'

In [27]:
bin(12^4)

'0b1000'

In [28]:
0b1000 + 0b1000

16

In [29]:
bin(16)

'0b10000'

In [30]:
bin(10-2)+bin(12^4)

'0b10000b1000'

In [31]:
bin(-44)

'-0b101100'

In [32]:
myList = [1,2,3,4,5]
output =  [x**2 for x in myList]
print(output)

[1, 4, 9, 16, 25]

In [33]:
i = 1
while True:
    if i%0o7 == 0: # 0o7 Octal number
        break
    print(i)
    i += 1

1
2
3
4
5
6

In [34]:
i = 5
while True:
    print("i before: ", i)
    print(int(0o11))
    print(i%0o11)
    if i%0o11 == 0:
        print("inside break")
        break
    print(i)
    i += 1

i before:  5
9
5
5
i before:  6
9
6
6
i before:  7
9
7
7
i before:  8
9
8
8
i before:  9
9
0
inside break

In [35]:
ls = [1, 4, 9, 16, 25]
ls = ls[:-1]
print(ls)

[1, 4, 9, 16]

In [36]:
expr = [5, '4+3', '3', '2+2', '2**3', '12/6', 1, '9-4']
print(type(expr))
# print(expr.sort())
newList = []
for i in expr:
   newList.append(eval(str(i)))
print(type(ls))
print(ls.sort())

<class 'list'>
<class 'list'>
None

In [37]:
expr = [5, '4+3', '3', '2+2', '2**3', '12/6', 1, '9-4']
ls = []
for item in expr:
    ls.append(eval(str(item)))

In [38]:
ls.sort()

In [39]:
a=[1,2,3,4,5]
b = a[::-1]
print(b)

[5, 4, 3, 2, 1]

In [40]:
class test:
    def testmethod(self):
        print("Hello")
        
obj = test()
obj.testmethod()

Hello

In [41]:
d = dict()

In [42]:
d['abc'] = 123
d['xyz'] = 456

In [43]:
print(d)
print(d.keys())
print(d.values())

{'abc': 123, 'xyz': 456}
dict_keys(['abc', 'xyz'])
dict_values([123, 456])

In [44]:
for i in d:
    print(i, d[i])
    print("%s : %d"%(i, d[i]))

abc 123
abc : 123
xyz 456
xyz : 456

In [45]:
for index, key in enumerate(d):
    print(index, key, d[key])

0 abc 123
1 xyz 456

In [46]:
print("xyz" in d)

True

In [47]:
del d["xyz"]

In [48]:
print("xyz" in d)

False

In [49]:
print(d)

{'abc': 123}

#### break, continue, pass in Python 

   <b>break:</b> takes you out of the current loop.
   
   <b>continue:</b>  ends the current iteration in the loop and moves to the next iteration.
   
   <b>pass:</b> The pass statement does nothing. It can be used when a statement is required. syntactically but the program requires no action.

#### map, filter, lambda


   <b>map:</b> The map() function applies a function to every member of iterable and returns the result. If there are multiple arguments, map() returns a list consisting of tuples containing the corresponding items from all iterables.
   
   <b>filter:</b>  It takes a function returning True or False and applies it to a sequence, returning a list of only those members of the sequence for which the function returned True.
   
   <b>lambda:</b> Python provides the ability to create a simple (no statements allowed internally) <b>anonymous (without name) inline function</b> called lambda function. Using lambda and map you can have two for loops in one line.

In [50]:
def sqr(n):
    return n**2

numbers = (1,2,3,4,5)
m = map(sqr, numbers)
print(list(m))

[1, 4, 9, 16, 25]

In [51]:
numbers = (1,2,3,4,5)
m = map(lambda x: x+x, numbers)
print(list(m))

[2, 4, 6, 8, 10]

In [52]:
numbers1 = [1,2,3,4,5]
numbers2 = [6,7,8,9,10]
m = map(lambda x,y: x+y, numbers1, numbers2)
print(list(m))

[7, 9, 11, 13, 15]

In [53]:
ls = ['Alex','Niral','Sugi']
print(list(map(list,ls))) #note here we used list built-in function

[['A', 'l', 'e', 'x'], ['N', 'i', 'r', 'a', 'l'], ['S', 'u', 'g', 'i']]

#### reduce


The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

     Working :  

        At first step, first two elements of sequence are picked and the result is obtained.
        
        Next step is to apply the same function to the previously attained result and the number just 
        succeeding the second element and the result is again stored.
        
        This process continues till no more elements are left in the container.
        
        The final returned result is returned and printed on console.

​

Docstring:
reduce(function, sequence[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence,
from left to right, so as to reduce the sequence to a single value.
For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the sequence in the calculation, and serves as a default when the
sequence is empty.

In [54]:
import functools
from functools import reduce

In [55]:
lis = [1,2,3,4,5]

# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")

print(reduce(lambda x,y: x+y, lis))

The sum of the list elements is : 15

In [56]:
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")

print(reduce(lambda x,y: x if x>y else y, lis))

The maximum element of the list is : 5

In [57]:
# importing operator for operator functions
import operator
 
# initializing list
lis = [1, 3, 5, 6, 2, ]
 
# using reduce to compute sum of list
# using operator functions
print("The sum of the list elements is : ", end="")
print(functools.reduce(operator.add, lis))
 
# using reduce to compute product
# using operator functions
print("The product of list elements is : ", end="")
print(functools.reduce(operator.mul, lis))
 
# using reduce to concatenate string
print("The concatenated product is : ", end="")
print(functools.reduce(operator.add, ["first", "middle", "last"]))

The sum of the list elements is : 17
The product of list elements is : 180
The concatenated product is : firstmiddlelast

In [58]:
# Note that the initializer, when not None, is used as the first value instead of the first value from iterable , and after the whole iterable.
tup = (2,1,0,2,2,0,0,2)
print(reduce(lambda x, y: x+y, tup,6))

15

#### filter()
The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

        syntax:

        filter(function, sequence)
        Parameters:
        function: function that tests if each element of a 
        sequence true or not.
        sequence: sequence which needs to be filtered, it can 
        be sets, lists, tuples, or containers of any iterators.
        Returns:
        returns an iterator that is already filtered.

In [59]:
def fun(letter):
    vowels = ['a','e','i','o','u']
    if letter.lower() in vowels:
        return True
    else:
        return False
    
sequence = list('Niralya Alex')
print(sequence)
filtered = filter(fun, sequence)


print('The filtered vowels are:')
for s in filtered:
    print(s)

['N', 'i', 'r', 'a', 'l', 'y', 'a', ' ', 'A', 'l', 'e', 'x']
The filtered vowels are:
i
a
a
A
e

In [60]:
seq = [0, 1, 2, 3, 5, 8, 13]

odd = filter(lambda x: x%2 != 0, seq)
even = filter(lambda x: x%2 == 0, seq) 

# odd = filter(lambda x: x%2, seq)
# even = filter(lambda x: ~x%2, seq) # ~ bitwise NOT operator

print(list(odd))
print(list(even))

[1, 3, 5, 13]
[0, 2, 8]

#### Lambda Functions

Python Lambda Functions are anonymous function means that the function is without a name. As we already know that the def keyword is used to define a normal function in Python. Similarly, the lambda keyword is used to define an anonymous function in Python. 


    This function can have any number of arguments but only one expression, which is evaluated and returned.
    
    One is free to use lambda functions wherever function objects are required.
    
    You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.
    
    It has various uses in particular fields of programming besides other types of expressions in functions.

In [61]:
x = 'Stay focused..!'

(lambda x:print(x))(x)

Stay focused..!

In [62]:
def cube(x):
    return x*x*x

print(cube(3))

27

In [63]:
lambda_cube  = lambda x:x*x*x
print(lambda_cube (3))

27

In [64]:
#printing table of 10 using lambda and list comprehension. closely watch i and j variables
functions = [lambda j=i:j*10 for i in range(1,11)]
print(functions)

for fun in functions:
    print(fun())

[<function <listcomp>.<lambda> at 0x00000238B74E7E58>, <function <listcomp>.<lambda> at 0x00000238B74E7EE8>, <function <listcomp>.<lambda> at 0x00000238B74E7F78>, <function <listcomp>.<lambda> at 0x00000238B74E4048>, <function <listcomp>.<lambda> at 0x00000238B74E40D8>, <function <listcomp>.<lambda> at 0x00000238B74E4168>, <function <listcomp>.<lambda> at 0x00000238B74E41F8>, <function <listcomp>.<lambda> at 0x00000238B74E4288>, <function <listcomp>.<lambda> at 0x00000238B74E4318>, <function <listcomp>.<lambda> at 0x00000238B74E43A8>]
10
20
30
40
50
60
70
80
90
100

In [65]:
maxx = lambda x,y: x if x>y else y
print(maxx(2,4))

4

In [66]:
#Given a list of strings, filter all palindromes.

my_list = ["madam", "hello", "refer", "practice", "aa","noon"]

list1 = filter(lambda x: (x == "".join(reversed(x))), my_list)
print(list(list1))

list2 = filter(lambda x:(x == x[::-1]), my_list)
print(list(list2))

['madam', 'refer', 'aa', 'noon']
['madam', 'refer', 'aa', 'noon']

#### zip()
Python zip() method takes iterable or containers and returns a single iterator object, having mapped values from all the containers. 

It is used to map the similar index of multiple containers so that they can be used just using a single entity. 

Syntax :  zip(*iterators) 

Parameters : Python iterables or containers ( list, string etc ) 
Return Value : Returns a single iterator object, having mapped values from all the 
containers.

In [67]:

name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]

mapped = zip(name, roll_no)
print(list(mapped))

[('Manjeet', 4), ('Nikhil', 1), ('Shambhavi', 3), ('Astha', 2)]

In [68]:

names = ['Mukesh', 'Roni', 'Chari']
ages = [24, 50, 18]

for i, (name, age) in enumerate(zip(names, ages)):
    print(i, name, age)

0 Mukesh 24
1 Roni 50
2 Chari 18

In [69]:

stocks = ['reliance', 'infosys', 'tcs']
prices = [2175, 1127, 2750]

new_dict = {stocks:prices for stocks, prices in zip(stocks, prices)}
print(new_dict)

{'reliance': 2175, 'infosys': 1127, 'tcs': 2750}

#### How to unzip?
Unzipping means converting the zipped values back to the individual self as they were. This is done with the help of “*” operator.

In [70]:
name = ["Manjeet", "Nikhil", "Shambhavi", "Astha"]
roll_no = [4, 1, 3, 2]
marks = [40, 50, 60, 70]

mapped = zip(name, roll_no, marks)
mapped = list(mapped)

print(mapped)

#unzip
n, r, m = zip(*mapped)
print(n)
print(r)
print(m)

[('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60), ('Astha', 2, 70)]
('Manjeet', 'Nikhil', 'Shambhavi', 'Astha')
(4, 1, 3, 2)
(40, 50, 60, 70)

#### Enumerate()
Often, when dealing with iterators, we also get a need to keep a count of iterations. Python eases the programmers’ task by providing a built-in function enumerate() for this task. 
Enumerate() method adds a counter to an iterable and returns it in a form of enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() method.


        Syntax: 

            enumerate(iterable, start=0)

            Parameters:
            Iterable: any object that supports iteration
            Start: the index value from which the counter is 
                          to be started, by default it is 0

In [71]:
l1 = ["eat","sleep","repeat"]
s1 = "geek"

obj1 = enumerate(l1)
obj2 = enumerate(s1, 10)

print(type(obj1))

print(list(obj1))
print(list(obj2))

<class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(10, 'g'), (11, 'e'), (12, 'e'), (13, 'k')]

In [72]:
lst = ["eat","sleep","repeat"]
for ele in enumerate(lst):
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')

In [73]:
for i, ele in enumerate(lst):
    print(i, ele)

0 eat
1 sleep
2 repeat

In [74]:
for i, ele in enumerate(lst, 100):
    print(i, ele)

100 eat
101 sleep
102 repeat

### Python Arrays

An array is a collection of items stored at contiguous memory locations. The idea is to store multiple items of the same type together. This makes it easier to calculate the position of each element by simply adding an offset to a base value, i.e., the memory location of the first element of the array (generally denoted by the name of the array).

In [75]:
import array as arr

In [76]:
array1 = arr.array('i',[1,2,3,4,5,6,7])

print(array1)

array('i', [1, 2, 3, 4, 5, 6, 7])

In [77]:
array2 = arr.array('d',[1.0,2.5,23.3])

print(array2)

array('d', [1.0, 2.5, 23.3])

#### hashable | hash value | hash function

hashable is a feature of Python objects that tells if the object has a hash value or not. If the object has a hash value then it can be used as a key for a dictionary or as an element in a set.


An object is hashable if it has a hash value that does not change during its entire lifetime. Python has a built-in hash method ( __hash__() ) that can be compared to other objects. For comparing it needs __eq__() or __cmp__() method and if the hashable objects are equal then they have the same hash value. All immutable built-in objects in Python are hashable like tuples while the mutable containers like lists and dictionaries are not hashable. 


Objects which are instances of the user-defined class are hashable by default, they all compare unequal, and their hash value is their id().

In [78]:
t1 = (1,2,3)
t2 = (1,2,3)

print(id(t1))
print(id(t2))

2442616607912
2442599647176

In [79]:

print(t1.__hash__())
print(t2.__hash__())

2528502973977326415
2528502973977326415

In [80]:
l1 = [1,2,3]
l2 = [1,2,3]

print(id(l1))
print(id(l2))

2442599861768
2442599044424

In [81]:
print(l1.__hash__()) #will throw error, coz mutable containers like lists and dictionaries are not hashable.
print(l2.__hash__())

TypeError: 'NoneType' object is not callable

In [ ]:
lamb = lambda x: 1

print(hash(lamb))

print(id(lamb))

print(lamb.__hash__())

#Hence, lambda functions are hashable.

In [ ]:
def fun():
    pass

print(type(fun))

print(hash(fun))

print(fun.__hash__())

#Therefore, any user defined function is hashable as its hash value remains same during its lifetime.

## Math module

In [69]:
import math

math.ceil(3.4)

4

In [79]:
import numpy as np

for i in np.linspace(3,4,11):
    print(i, " ----> ", math.ceil(i))

3.0  ---->  3
3.1  ---->  4
3.2  ---->  4
3.3  ---->  4
3.4  ---->  4
3.5  ---->  4
3.6  ---->  4
3.7  ---->  4
3.8  ---->  4
3.9  ---->  4
4.0  ---->  4

In [80]:
import numpy as np

for i in np.linspace(3,4,11):
    print(i, " ----> ", math.floor(i))

3.0  ---->  3
3.1  ---->  3
3.2  ---->  3
3.3  ---->  3
3.4  ---->  3
3.5  ---->  3
3.6  ---->  3
3.7  ---->  3
3.8  ---->  3
3.9  ---->  3
4.0  ---->  4

In [81]:
#The copysign function returns a float whose absolute value is that of the first argument and the sign is that of the second argument.

print(math.copysign(3, -1))

-3.0

In [87]:
#A negative floating point number is returned as a positive floating point number.

print(math.fabs(-3.4))

3.4

https://www.khanacademy.org/math/cc-sixth-grade-math/cc-6th-negative-number-topic/cc-6th-absolute-value/a/intro-to-absolute-value

In [95]:
x = -3.5
print(math.fabs(x))
print(math.floor(x))
print(math.ceil(x))
print(math.frexp(x))
print(math.fmod(x))

3.5
-4
-3
(-0.875, 2)

TypeError: fmod() takes exactly 2 arguments (1 given)

#### abs()

Python abs() function is used to return the absolute value of a number, i.e., it will remove the negative sign of the number.  

Syntax: abs(number)
number: Can be an integer, a floating-point

number or a complex number

In [ ]:
x = math.factorial(0)
print(x)

In [ ]:
math.factorial(4.0)

In [ ]:
# Factorial is only defined for non-negative integers.
print(math.factorial(4.5))

In [ ]:
math.floor(0o10)

#0o10 is 8 and floor(8) is 8.

In [ ]:
math.factorial(0o10)

In [ ]:
x = 3.05265
print(math.frexp(x) )

In [ ]:
math.fsum([.1 for i in range(20)])


# The function fsum returns an accurate floating point sum of the elements of its argument.

In [ ]:
sum([.1 for i in range(20)])

In [ ]:
[.1 for i in range(20)]

In [ ]:
math.isfinite(float('inf')) #infinity is not a finite number

In [ ]:
math.isfinite(float('nan')) #nan not a number

In [ ]:
math.isfinite(float('0.0'))

In [ ]:
-float('inf') + float('inf')

In [ ]:
float('inf') - float('inf')

In [ ]:
print(math.isinf(float('-inf')))

In [ ]:
x = math.ldexp(0.5, 1)
print(x)

#This is essentially the inverse of frexp().

In [ ]:
math.modf(1.0)

In [ ]:
math.trunc(3.1)

In [ ]:
math.trunc(3.9)

In [ ]:
print(math.trunc('3.1'))

In [ ]:
math.exp(10) #equals to math.e ** p

# math.e is the constant defined in the math module

In [ ]:
math.expm1(10)

#One is subtracted from the result of math.exp(p) and returned.

In [ ]:
math.log(2)

In [ ]:
int(math.pow(3, 2))

In [ ]:
math.pow(3, 2)

In [ ]:
math.sqrt(4)

In [ ]:
import datetime

tday=datetime.date.today()
print(tday.weekday()) #day index starts from 0 (Monday)
print(tday.isoweekday())#day index starts from 1(Monday)

In [ ]:
tday=datetime.date.today()
bday=datetime.date(2017,9,18)
t_day=bday-tday
print(t_day)

In [ ]:
print(datetime.datetime.today())
print(datetime.datetime.now())

In [ ]:
dt_1 = datetime.datetime.today()
dt_2 = datetime.datetime.now()
print(dt_1)
print(dt_2)

In [ ]:
datetime.datetime.utcnow()

In [ ]:
import time
time.time()

In [ ]:
def num(m):
    t1 = time.time()
    for i in range(0,m):
        print(i)
    t2 = time.time()
    print(str(t2-t1))
num(3)

In [ ]:
import time
time.asctime()

In [ ]:
random.randrange(0,91,5)

In [ ]:
try:
    a = 1/0

except ZeroDivisionError as e:
    print(e)

finally:
    print("hello")

## sys module

In [ ]:
import sys
sys.stderr.write("hello")

In [ ]:
print(repr('A'))

In [ ]:
print(sys.argv)

In [ ]:
eval(sys.stdin.readline())
'kishore'

In [ ]:
import random
random.seed(3)
random.random()

In [ ]:
random.seed(10000)
random.random()

In [ ]:
help(random.random)

[0, 1)
 
 ( ) - this round bracket means exclusive
 
 
 [] - this square bracket means inclusive

In [ ]:
random.randrange(4)

In [ ]:
# import sys
# print(eval(sys.stdin.readline()))


# !python test1.py "DATA" #will not generate any output

In [ ]:
round(0.5)-round(-0.5)

In [ ]:
round(0.5)

In [ ]:
-round(-0.5)

In [ ]:
round(0.6)

In [ ]:
import math
math.ceil(0.5)

In [ ]:
math.floor(0.5)

In [ ]:
abs(-0.5)

In [ ]:
abs(False)

In [ ]:
abs(True)

In [ ]:
abs(-math.inf)

In [ ]:
abs(math.nan)

In [ ]:
ls = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
def func1(*args):
    print(len(args))
    print(args)

In [ ]:
func1(ls)

In [ ]:
func1(*ls)

In [ ]:
s = {abs} #will not throw error as abs is build-in function

In [ ]:
print(abs)

In [ ]:
s = {4,'car',(1,2)}

In [ ]:
s = {2,2.2,3,'abc'}

In [ ]:
s = {san} #will throw error

In [ ]:
int('24.26')

In [ ]:
int(24.26)

In [ ]:
int('')

In [ ]:
not 3>4

In [ ]:
not 1 & 1

In [ ]:
p = 2
while p<=100:
    is_prime = True
    for i in range(2, p):
        if p%i == 0:
            is_prime = False
            break
    if is_prime == True:
        print(p)
        
    p = p + 1

In [ ]:
name = input("enter your name: ")
if name.lower() == name:
    print("all lower")
elif name.upper() == name:
    print("all upper")
else:
    print("mixed case")

In [20]:
totalitems = float(input("enter total items: "))
print(type(totalitems))
print(totalitems)

int(4.0)

enter total items: 2
<class 'float'>
2.0

4

In [23]:
float("4.0")

4.0

In [85]:
rooms = {1:"King", 2:"Queen"}
room = int(input("enter the room no: "))
if room not in rooms:
    print("NA")
else:
    print("The room nam is "+rooms[room] )

enter the room no: 1
The room nam is King

In [87]:
x = "20"
y = 3
a = x*y
print(type(a))

<class 'str'>

In [88]:
x = 6
y = 4
a = x/y
print(type(a))

<class 'float'>

In [89]:
x = 2.5
y = 1
a = x/y
print(type(a))

<class 'float'>

In [91]:
print(type(int(str("1"))))

<class 'int'>

In [92]:
type(+1E10)

float

In [95]:
def count_letter (letter, word_list):
    count = 0
    for word in word_list:
        if letter in word:
            count += 1
    return count

word_list = ["Niralya", "Sugi", "Alex", "Debbie"]

letter = input("which letter would you like to count")

letter_count = count_letter(letter, word_list) 
print("There are: " , letter_count , "instances of " ,letter)

which letter would you like to counti
There are:  3 instances of  i

In [100]:
start = input("starting age: ")
end = input("retiring age: ")
print("congratulations on "+str(int(end)-int(start))+ " years of service!")

starting age: 35
retiring age: 60
congratulations on 25 years of service!

In [110]:
numList = [1,2,3,4,5]
alphaList =["a", "b", "c", "d", "e"]
print (numList is alphaList)
print (numList == alphaList)
numList = alphaList
print (numList is alphaList)
print (numList == alphaList)

False
False
True
True

In [111]:
(3*(1+2)**2 - (2**2)*3)

15

In [114]:
employees = [x for x in range(1,201)]

In [115]:
print(employees)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

In [116]:
employees[:-5]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195]

In [117]:
employees[0:-5]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195]

In [14]:
def get_rating (age):

    rating = ""

    if age == None: 
        rating = "C"
    elif age < 13:
        rating = "C"
    elif age < 18:
        rating = "T"
    else:
        rating = "A"

    return rating

age = get_rating (3)
print(age)

C

In [42]:
def func():
#     print("inside")
    num = 1
    def fn():
        nonlocal num
        num = num +3
        print(num)
    return func()

func()
print(num)

RecursionError: maximum recursion depth exceeded

In [43]:
import math.sqrt as squareRoot #will throw error

ModuleNotFoundError: No module named 'math.sqrt'; 'math' is not a package

In [44]:
from math import sqrt as squareRoot

In [104]:
a = 45
b = 45
print(a is not b)

False

In [106]:
x = '10'
y = '20'
z = x + y
print(type(z))
print(z)

<class 'str'>
1020

In [111]:
print(type(input('Enter some value:')))

Enter some value:10.0
<class 'str'>

In [115]:
f = open('in.txt')
f.ceil() # Exception will be raised if we are trying to call a method on the inappropriate object

AttributeError: '_io.TextIOWrapper' object has no attribute 'ceil'

In [116]:
list_1 = [1, 2]
list_2 = [3, 4]
list_3 = list_1 + list_2
list_4 = list_3 * 3
print(list_4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

https://www.adamsmith.haus/python/answers/how-to-multiply-each-element-of-a-list-by-a-number-in-python

In [118]:

an_array = np.array(list_3)
multiplied_array = an_array * 3

print(multiplied_array)

[ 3  6  9 12]

In [141]:
def get_discount(minor, senior):    
    discount = .1
    if not (minor=='minor' or senior=='senior'):
        discount = 0
    return discount

In [142]:
get_discount('minor', 'senior')

0.1

In [130]:
get_discount('sdfsf', 'dsfs')

0

In [143]:
colors = ['red','green','blue','orange','purple','yellow','white','black']

In [144]:
colors [1::2]

['green', 'orange', 'yellow', 'black']